- connectionURL : jdbc:mysql://192.168.183.27:13301/dbwww58com_zpresumebuy?connectTimeout=1000&amp;useUnicode=true&amp;characterEncoding=utf-8
  driversClass : com.mysql.jdbc.Driver
  username : zp_admin
  password : 45da3af560846e69
  minPoolSize : 15
  maxPoolSize : 25
  idleTimeout : 3
  queryTimeout : 2
  insertUpdateTimeout : 5

- connectionURL : jdbc:mysql://192.168.183.27:13301/dbwww58com_zpresumebuy?connectTimeout=1000&amp;useUnicode=true&amp;characterEncoding=utf-8
  driversClass : com.mysql.jdbc.Driver
  username : zp_admin
  password : 45da3af560846e69
  minPoolSize : 15
  maxPoolSize : 25
  idleTimeout : 3
  queryTimeout : 2
  insertUpdateTimeout : 5
  readonly : true
